<p id="notice"><%= notice %></p>

<h1>Floors</h1>

<table>
  <thead>
    <tr>
      <th>Floor number</th>
      <th>Build</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @floors.each do |floor| %>
      <tr>
        <td><%= floor.floor_number %></td>
        <td><%= floor.build.name %></td>
        <td><%= link_to 'Show', floor %></td>
        <td><%= link_to 'Edit', edit_floor_path(floor) %></td>
        <td><%= link_to 'Destroy', floor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floor', new_floor_path %>
