
<%= simple_form_for(@apartment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :gate_number %>
    <%= f.association :floor, label_method: :floor_number %>
    <%= f.association :build %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
