<p id="notice"><%= notice %></p>

<p>
  <strong>Gate number:</strong>
  <%= @apartment.gate_number %>
</p>
<p>
  <strong>Floor:</strong>
  <%= @apartment.floor.floor_number %>
</p>
<p>
  <strong>Build:</strong>
  <%= @apartment.build.name %>
</p>


<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
